.body-container {
    width: 960px;
    margin: 0 auto;
}

.search-container {
    padding-left:30px;
    padding-right:30px;
    padding-top: 60px;
    padding-bottom: 30px
}

.input-mysize { width: 150px }

.heading {
    top: 15px;
    left: 15px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tablerow {
    vertical-align: middle;
}

.bottom{
    border-bottom: 1px solid #ccc;
}
.details-info{
    vertical-align: super;
    font-size: 15px;
}